<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>BookClass</h2>
    </div>
    <form (ngSubmit)="login()" class="row">
      <div class="col-4">
        <input type="text" [(ngModel)]="username" class="form-control" name="username" placeholder="E-mail" >
      </div>
      <div class="col-4">
        <input type="password" [(ngModel)]="password" class="form-control" name="password" placeholder="Password" >
      </div>
      <div class="col-4">
        <input class="w-100 btn btn-primary" type="submit" value="Login">
      </div>
    </form>
    @if (loginResult()) {
      <div class="row">
        <div class="col-12 pt-2"> {{ loginResult() }} </div>
      </div>
    }

    @if (loggedIn()) {
      <hr class="my-4">
      <div class="row">
        <div class="col-8">
          <select class="form-select" (change)="selectClub($event)">
            <option value="">Clubul</option>

            @for (club of clubs(); track club.id) {
              <option [value]="club.id">{{ club.name }}</option>
            }
          </select>
        </div>
        <div class="col-4">
          <select class="form-select" (change)="selectDay($event)">
            <option value="">Ziua</option>
            @for (day of days(); track day) {
              <option [value]="day">{{ getDayName(day) }}</option>
            }
          </select>
        </div>
      </div>

      @if (selectedClubId && selectedDay) {
        <form (ngSubmit)="bookClass()" class="row mt-3">
          <div class="col-8">
            <select class="form-select" [(ngModel)]="selectedClass" name="selectedClass">
              <option value="">Clasa</option>
  
              @for (cls of classes(); track cls.id) {
                <option [value]="cls.id">{{ cls.hour }} - {{ cls.name }} - {{ cls.trainers[0] }}</option>
              }
            </select>
          </div>
          <div class="col-4">
            <input class="w-100 btn btn-primary" type="submit" [value]="bookButtonValue">
          </div>
        </form>
      }
      
      @if (scheduledBookings().length > 0) {
        <hr class="my-4">
        <h6>Rezervări viitoare</h6>
        <ul>
          @for (booking of scheduledBookings(); track booking) {
            <li><small>
              {{ booking.className }} - 
              <a href="#" (click)="deleteBooking($event, booking.taskId)" class="link-secondary">șterge</a>
            </small></li>
          }
        </ul>
      }
      
    }
    
  </main>
</div>

