<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1>BookClass</h1>
    </div>
    @if (loggedIn()) {
      <div class="mb-2">
        Bună, {{ loginMemberFirstName() }}
        <a href="#" (click)="logout($event)" class="ps-3 text-secondary">logout</a>
      </div>
    } @else {
      <form (ngSubmit)="login()" class="row">
        <div class="col-12">
          <h6>Login</h6>
        </div>
        <div class="col-12 col-md-4 mb-2">
          <input type="text" [(ngModel)]="username" class="form-control" name="username" placeholder="E-mail" >
        </div>
        <div class="col-12 col-md-4 mb-2">
          <input type="password" [(ngModel)]="password" class="form-control" name="password" placeholder="Password" >
        </div>
        <div class="col-12 col-md-4 mb-3">
          <input class="w-100 btn btn-primary" type="submit" value="Login">
        </div>
      </form>
    }
    @if (loginResult()) {
      <div class="row">
        <div class="col-12 mb-3"> {{ loginResult() }} </div>
      </div>
    }

    @if (loggedIn()) {
      <hr class="mt-0 mb-3">
      <div class="row mb-3">
        <h6>Rezervă sau planifică</h6>
        <div class="col-8">
          <select class="form-select" (change)="selectClub($event)">
            <option value="">Clubul</option>

            @for (club of clubs(); track club.id) {
              <option [value]="club.id">{{ club.name }}</option>
            }
          </select>
        </div>
        <div class="col-4">
          <select class="form-select" (change)="selectDay($event)">
            <option value="">Ziua</option>
            @for (day of days(); track day) {
              <option [value]="day">{{ getDayName(day) }}</option>
            }
          </select>
        </div>
      </div>

      @if (selectedClubId && selectedDay) {
        <form (ngSubmit)="bookClass()" class="row">
          <div class="col-12 col-md-8 mb-3">
            <select class="form-select" [(ngModel)]="selectedClass" name="selectedClass">
              <option value="">Clasa</option>
  
              @for (cls of classes(); track cls.id) {
                <option [value]="cls.id">{{ cls.hour }} - {{ cls.name }} - {{ cls.trainers[0] }}</option>
              }
            </select>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <input class="w-100 btn btn-primary" type="submit"
              [disabled]="!selectedCls || isBookingLoading()" [value]="bookButtonValue">
          </div>
        </form>
      }
      
      @if (scheduledBookings().length > 0) {
        <hr class="mt-0 mb-3">
        <h6>
          Rezervări planificate
          <a style="text-decoration: none;" href="#" (click)="refreshScheduledBookings($event)">🔄</a>
        </h6>
        <ul>
          @for (booking of scheduledBookings(); track booking) {
            <li><small>
              {{ booking.className }} - 
              <a href="#" (click)="deleteBooking($event, booking.taskId)" class="link-secondary">șterge</a>
            </small></li>
          }
        </ul>
      }
      
      @if (registeredBookings().length > 0) {
        <hr class="mt-0 mb-3">
        <h6>
          Rezervări înregistrate
          <a style="text-decoration: none;" href="#" (click)="refreshRegisteredBookings($event)">🔄</a>
        </h6>
        <ul>
          @for (regBooking of registeredBookings(); track regBooking) {
            <li><small>
              {{ regBooking.class_name }} - {{ regBooking.club }} - {{ regBooking.date_time }}
              @if (regBooking.waiting_list !== 0) {
                (pe lista de așteptare: {{ regBooking.waiting_list }})
              } @else {
                (rezervată)
              }
            </small></li>
          }
        </ul>
      }
    }
  </main>
</div>
